<div class="overflow-x-auto">
  <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400  bg-amber-100 "
    style="font-family:Arial, Helvetica, sans-serif;">
    <thead class="text-xs text-white  uppercase bg-blue-400">
      <tr>
        <th scope="col" class="p-4">Foto</th>
        <th scope="col" class="p-4">Nombre de preferencia</th>
        <th scope="col" class="p-4">Correo Eléctronico</th>
        <th scope="col" class="p-4">Role</th>
        <th scope="col" class="p-4">Accion</th>
      </tr>
    </thead>

    <tbody *ngFor="let user of users"   class="hover:text-white  hover:bg-orange-300">

      <tr class="border-b  border-gray-60">

        <th scope="row" class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap  ">
          <div class="flex items-center mr-3 ">
            <img [src]="user.photoURL" [alt]="user.nickname" class ="h-50 w-50 rounded">
          </div>
        </th>

        <td class="px-4 py-3">
          <span class="bg-primary-100 text-black rounded">
          {{user.nickname}}
          </span>
        </td>

        <td class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap  ">
          <div class="flex items-center">
          {{user.email}}
          </div>
        </td>
        <td class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap ">
          {{user.role}}
        </td>
        <td class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap ">
          <button (click)="onSendEmail(user)" type="button" id="createProductButton"
            data-modal-toggle="createProductModal"
            class="flex items-center justify-center text-white bg-orange-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800">
                 Enviar Correo
          </button>
        </td>

      </tr>
    </tbody>
  </table>
</div>


