<div class="overflow-x-auto">
  <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400  bg-amber-100 "
    style="font-family:Arial, Helvetica, sans-serif;">
    <thead class="text-xs text-white  uppercase bg-blue-400">
      <tr>
        <th scope="col" class="p-4">Producto</th>
              <th scope="col" class="p-4">Categoria</th>
              <th scope="col" class="p-4">Descripción</th>
              <th scope="col" class="p-4">Precio</th>
              <th scope="col" class="p-4">Tipo</th>
      </tr>
    </thead>

    <tbody *ngFor="let product of Products"   class="hover:text-white  hover:bg-orange-300">

      <tr class="border-b  border-gray-60">

        <th scope="row" class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap  ">
          <div class="flex items-center mr-3 ">
            <img [src]="product.image" [alt]="product.name" class ="h-12 w-auto mr-3 rounded">
          </div>
        </th>

        <td class="px-4 py-3">
          <span class="bg-primary-100 text-black rounded">
          {{product.name}}
          </span>
        </td>

        <td class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap  ">
          <div class="flex items-center">
          {{product.categoria}}
          </div>
        </td>
        <td class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap ">
        <span>$</span> {{product.precio}}
        </td>
        <td class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap ">
          {{product.tipo}}
        </td>
      </tr>
    </tbody>
  </table>
</div>


